.widget-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  
  .widget {
    max-width: 700px;
    width: 100%;
  }
  
  .input {
    border: none;
  }
  
  .input:focus-visible {
    outline: none;
  }
  
  .button {
    display: inline-block;
    background-color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    overflow: hidden;
  }
  
  .widget-block {
    padding: 10px;
    background-color: #fff;
    border: 1px solid gray;
    border-radius: 15px;
  }
  
  .widget-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
  }
  
  .header-main {
     display: flex;
     align-items: center;
  }
  
  .logo {
    width: 40px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
  }
  
  .logo__img {
    width: 100%;
  }
  
  .title-widget__h1 {
    font-size: 20px;
  }
  
  
  
  
  .header-menu {
    position: relative;
  }
  
  .logo-menu {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  
  .logo-menu::after,
  .logo-menu::before {
    content: "";
    display: block;
    box-sizing: border-box;
    width: 5px;
    height: 5px;
    border: 1px solid gray;
    border-radius: 50%;
  }
  
  .logo-menu__div-point {
    width: 5px;
    height: 5px;
    border: 1px solid gray;
    border-radius: 50%;
    margin-top: 2px;
    margin-bottom: 2px;
  }
  
  .additional-menu {
    position: absolute;
  }
  
  
  /* стилизация списка сообщений */
  
  .list-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .block-display-content {
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    height: 400px;
    overflow-y: scroll;
  }

  .item-content {
    margin-top: 20px;
  }
  
  .content-message {
    padding: 10px;
    background-color: #fff;
    border: 1px solid gray;
    border-radius: 15px;
  }

  .block-date-download {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .download-file {
    width: 40px;
    height: 40px;
  }

  .download-file__img {
    width: 100%;
  }



  .message {
    margin: 10px;
    color: #000;
  }

  .item__audio,
  .item__video,
  .item__img {
    width: 100%;
  }

  .message__audio,
  .message__video,
  .message__img {
    width: 100%;
  }


  .button-send-message__img,
  .button-emoji__img,
  .button-paperclip__img {
    width: 100%;
  }

  .button-send-message {
    display: flex;
    justify-content: center;
    align-items: center;
  }  

  .basil-function {
    background-color: #fff;
    border: 1px solid gray;
    border-radius: 15px;
    padding: 5px 15px;
    display: flex;
    align-items: center;
  }

  .add-emoji-files,
  .send-message {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .add-emoji-files-button {
    margin-right: 10px;
  }

  .send-message-input,
  .send-message {
    width: 100%;
  }
  
  .form-input-content__input {
    width: 100%;
    padding: 5px;
    resize: none;
    height: 40px;
  }

  .send-message-input_files {
    position: relative;
    height: 100px;
  }


  .form-input-files_wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .form-input-files_wrapper {
    background: #ffffff;
    padding: 5px;
  }

  .form-input-files-drop-field {
    border: 2px dashed #818181;
    border-radius: 10px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form-input-files-drop-field:hover {
    border-color: orange;
  }