.widget-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  
  .widget {
    max-width: 700px;
    width: 100%;
  }
  
  .input {
    border: none;
  }
  
  .input:focus-visible {
    outline: none;
  }
  
  .button {
    display: inline-block;
    background-color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    overflow: hidden;
  }
  
  .widget-block {
    padding: 10px;
    background-color: #fff;
    border: 1px solid gray;
    border-radius: 15px;
  }
  
  .widget-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
  }
  
  .header-main {
     display: flex;
     align-items: center;
  }
  
  .logo {
    width: 40px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
  }
  
  .logo__img {
    width: 100%;
  }
  
  .title-widget__h1 {
    font-size: 20px;
  }
  
  .header-menu {
    position: relative;
  }
  
  .logo-menu {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  
  .logo-menu::after,
  .logo-menu::before {
    content: "";
    display: block;
    box-sizing: border-box;
    width: 5px;
    height: 5px;
    border: 1px solid gray;
    border-radius: 50%;
  }
  
  .logo-menu__div-point {
    width: 5px;
    height: 5px;
    border: 1px solid gray;
    border-radius: 50%;
    margin-top: 2px;
    margin-bottom: 2px;
  }
  
  .additional-menu {
    position: absolute;
  }
  
  
  /* стилизация списка сообщений */
  
  .list-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    height: 500px;
    overflow-y: scroll;
  }
  
  .block-display-content {
    position: relative;
  }

  .button-send-message {
    display: flex;
    justify-content: center;
    align-items: center;
  }  

  .basil-function {
    background-color: #fff;
    border: 1px solid gray;
    border-radius: 15px;
    padding: 5px 15px;
    display: flex;
    align-items: center;
  }

  .add-emoji-files,
  .send-message {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .add-emoji-files-button {
    margin-right: 10px;
  }

  .send-message-input,
  .send-message {
    width: 100%;
  }

  .send-message-input {
    position: relative;
  }
  
  .form-input-content__input {
    width: 100%;
    padding: 5px;
    resize: none;
    height: 40px;
  }

  .send-message-input_files {
    position: relative;
    height: 100px;
    z-index: 1;
  }

  /* визуализация блока дополнительных функций */

  .additional-send {
    position: absolute;
  }

  .additional-send-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
  }

  .additional-send-item {
    margin-left: 10px;
    border: 1px solid #818181;
  }

  /* блок эмоджи */

  .emoji-widget {
    position: absolute;
    padding: 10px;
    background-color: #fff;
    border: 1px solid gray;
    border-radius: 15px;
  }

  .emoji-list {
    display: flex;
    flex-wrap: wrap;
  }