.item-content {
   margin-top: 20px;
   max-width: 90%;;
   background-color: #fff;
   border: 1px solid gray;
   border-radius: 15px;
 }

 .bot-response {
    align-self: flex-end;
    background-color: rgb(255, 244, 244);
 }

 .info-content {
     display: flex;
     justify-content: flex-start;
 }
 
 .content-message {
   padding: 10px;
 }

  .message-date {
    min-width: 150px;
 }

 .block-date-download {
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 .message {
   padding: 10px;
   color: #000;
 }

 .message__audio,
 .message__video,
 .message__img {
   max-width: 100%;
 }


 .button-send-message__img,
 .button-emoji__img,
 .button-paperclip__img {
   width: 100%;
 }

.location {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.location::before {
    content: '';
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #fff;
    background-image: url(./image/location.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.link {
    color: blue;
    padding: 10px;
  }
  
.link:hover {
color: orange;
}